{% extends 'base.html.twig' %}

{% block title %}Deployments{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-waitingfor.css"/>
{% endblock %}

{% block javascripts %}
    <!-- <script type="text/javascript" src="/bower_components/bootstrap-waitingfor/build/bootstrap-waitingfor.min.js"></script> -->
    <script type="text/javascript" src="/lib/bootstrap-waitingfor.js"></script>
    <script type="text/javascript" src="/js/deploy.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Deploy Targets</h1>
            <p>
                The following websites on your server are configured for Pontoon.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-msg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Deploy ID</th>
                            <!--<th>Description</th>
                            <th>Path</th>
                            <th>Deploy Script</th>-->
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for target in targets %}
                        <tr>
                            <td>{{ target.projectName}}</td>
                            <td>{{ target.identifier }}</td>
                            <!--<td>{{ target.description }}</td>
                            <td>{{ target.directoryPath|replace('\\', '/') }}</td>
                            <td>{{ target.deployScript }}</td>-->
                            <td>
                                <button data-deploy-id="{{ target.identifier }}" class="btn btn-primary deploy-btn">Deploy</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
